<!DOCTYPE html>
<html lang="en">
<head>
    <title>Questionnaire</title>
    <link type="text/css" href="/static/css/index.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,700&display=swap" rel="stylesheet"> 
</head>
<body>
    <div class="questionContainer">
    <h1 class="yes">Welcome to the Greyroads "Intruder Selection" Questionnaire</h1>
    <dl>
        <dt><h3>Instructions</h3></dt>
        <dd>This questionnaire contains 30 multiple choice questions. 
            In each question, you'll be presented with a list of phrases, as well as three labels. 
            A label is relevant if it describes the overall content of the phrase list accurately. 
            Your task is to identify the <strong>LEAST</strong> relevant label for the given list of phrases. 
            An example question looks like:
            <hr/>
            <div>
                <p class="title">Phrase List 1</p>
                <div class="flexStart">
                    <div>
                    {% for w in top_words%}
                        <strong class="topWords">{{ w + ",  " }} </strong>
                    {% endfor %}
                    </div>
                </div>
                <div class="primary">
                    <p>Select label that <strong class="topWords">LEAST</strong> represents the above phrase list:</p>
                {% for opt in multi_choice %}
                    <input type="radio" name={{1}} required value="{{opt[0]}}" >{{opt[0]}}<br>
                {% endfor %}
                </div>
            </div>
            <hr/>
        </dd>
        <dd>
            Your job is to identify the <strong>least</strong> relevant label, which in the above example is journalism.
        </dd>
    </dl>
    
    <form method="post" action="/">
        <input class="submit" type="submit" value="Begin Questionnaire"/>
    </form>
</div>
</body>
</html>